mixin aside-products-item(name, price)
    li.aside-products-item
        .aside-products-descr
            .aside-products-descr__header #{name}
            .aside-products-descr__text Lorem ipsum dolor sit amet, consecteur...
        .aside-products-right
            .products__price #{price}
            .products__currency USD