mixin aside-thumbs-item(name, price)
    li.aside-thumbs-item
        .aside-thumbs__pic
            img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg" alt=name).aside-thumbs__img
        .aside-thumbs-descr
            .aside-thumbs-descr__header #{name}
            .aside-thumbs-descr__text Lorem ipsum dolor sit amet, consectetur...
        .aside-thumbs-right
            .thumbs__price #{price}
            .thumbs__currency USD