mixin aside-best-seller(mod)
    if mod
        - $class=" aside-item_" + mod
    else
        - $class=""

    li(class="aside-item" + $class)
        .aside__header
            | Best seller
            span.text_red .
        .aside__body
            ul.aside-products-list
                +aside-products-item('Einstein T-Shirt', '799')
                +aside-products-item('Dope T-Shirt', '199')
                +aside-products-item('Poker King T-Shirt', '439')