mixin aside-products-item(name, price)
    li.aside-products-item
        .aside-products-descr
            .aside-products-descr__header #{name}
            | Lorem ipsum dolor sit amet, consecteur...
        .aside-products-right
            .aside-products-price #{price}
            .aside-products-currency USD