mixin blog-comments-item
    li.blog-comments-item
        .blog-comments-user
            .blog-comments__avatar
                img.blog-comments__img(src="" alt="Johny Donny Doe")
            .blog-comments__name Johny Donny Doe
        .blog-comments-body
            .blog-comments-meta
                ul.blog-comments-meta
                    li.blog-comments-meta-item
                        a.blog-comments-meta__link(href="#")
                            | 04.09.2013
                            i.fa.fa-calendar-o(aria-hidden="true")
                    li.blog-comments-meta-item
                        a.blog-comments-meta__link(href="#")
                            | REPLY
                            i.fa.fa-envelope-open(aria-hidden="true")
            .blog-comments-text
                | Nulla vitae est leo. Nam gravida posuere  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. 
    block