mixin dropdown(list, id, cls)
    if cls
        - $class="dropdown " + cls
    else
        - $class="dropdown"

    div(class=$class)
        button(id=id).dropdown-btn #{list[0]}
        ul.dropdown-list
            each item in list
                li.dropdown-item #{item}