mixin dropdown(list, id, cls)
    if mod
        - $class="dropdown-btn " + cls
    else
        - $class="dropdown-btn"

    .dropdown
        button(id=id class=$class) #{list[0]}
        ul.dropdown-list
            each item in list
                li.dropdown-item #{item}