mixin footer-product-item(name, price)
    li.footer-products-item
        .footer-products-descr
            .footer-products-descr__header #{name}
            | Lorem ipsum dolor sit amet, consecteur...
        .footer-products-right
            .footer-products-price #{price}
            .footer-products-currency USD