mixin products-item(name, price, discount)
    li.products-item.block.block_bg.block_bg-hover
        .products-preview
            .products-preview__pic
                img.products-preview__img(src="" alt="Product image")
            if discount
                .products-preview__price #{price}
                .products-preview__currency USD
            .products__name.title.title_md #{name}
        .products-bottom
            .products-bottom__left
                .products__price
                    if discount
                        | #{discount}
                    else
                        | #{price}
                .products__currency USD
            .products-bottom__right
                a.btn.btn_sm.products-btn(href="#") Add to cart