mixin review-item(name, title, body)
    li.product-review-item
        .product-review-wrap
            .product-review-header
                a(href="#").product-review__link #{name}
                span.product-review-small  says 
                span.product-review__title #{title}
            .product-review__body #{body}