mixin useful-info-item(title)
    li.userful-info-item
        .userful-info__icon
            | here will be icon
        .userful-info__body
            .userful-info__title #{title}
            .userful-info__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, uma quis dignissim
                a(href="#") MORE ⟶