mixin useful-info-item(title)
    li.useful-info-item.block.block_bg
        .block__body.useful-info-block
            .useful-info__icon
            .useful-info__body
                .useful-info__title.title.title_md #{title}
                    span.text_red .
                .useful-info__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, uma quis dignissim
                    a.useful-info__link(href="#") MORE ⟶