mixin userful-info-item(title)
    li.userful-info-item.block_bg
        .userful-info__icon
            | here will be icon
        .userful-info__body
            .userful-info__title #{title}
                span.text_red .
            .userful-info__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, uma quis dignissim
                a.userful-info__link(href="#") MORE ⟶