.footer {
    background: #2f2f2f;
    height: $footer-height;
    margin-top: -$footer-height;
    color: white;
    &-bottom {
        background: #262626;
        letter-spacing: rem(-0.6px);
    }
    &-search {
        max-width: rem(902px);
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__input {
            width: 100%;
        }
        .btn {
            flex-shrink: 0;
        }
    }
}