.footer {
    background: #2f2f2f;
    color: white;
    margin-top: rem(82px);
    &-bottom {
        background: #262626;
        font-size: rem(12px);
        padding: rem(13.5px) 0;
        letter-spacing: rem(-0.6px);
    }
    &-search {
        max-width: rem(902px);
        margin: auto;
        padding: rem(24px);
    }
}