.header {
    position: relative;
    background: white;
    &-top {
        @extend %clearfix;
        letter-spacing: rem(-0.6px);
        background: $red;
        border-bottom: 1px solid #f38080;
        color: white;
        a {
            color: white;
        }
        &-nav {
            &-list {
                margin: 0 rem(-16px);
                padding: 0;
                list-style: none;
                font-size: 0;
            }
            &-item {
                display: inline-block;
                .fa {
                    margin-right: rem(8px);
                }
                font-size: 12px;
            }
            &__link {
                display: block;
                padding: rem(11px) rem(20px);
                &:hover {
                    background: white;
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
    &-greeter {
        padding: rem(9px) rem(6px);
    }
    &-main {
        padding: rem(41px) 0 rem(21px);
        .logo {
            margin-left: rem(-13px);
        }
    }
    &-bottom {
        border-top: 1px solid #e9e9e9;
    }
    &-contacts {
        &-list {
            margin: 0;
            padding: rem(6px) 0;
        }
        &-item {
            display: inline-block;
            margin-left: rem(48px);
            .fa {
                font-size: rem(41px);
                color: $red;
            }
        }
        .contacts-list {
            border-left: 1px solid #e1e1e1;
            margin-left: rem(14px);
            padding-left: rem(14px);
            display: inline-block;
        }
    }
    .cat {
        &-nav {
            &-list {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: rem(16px);
                letter-spacing: rem(-0.85px);
            }
            &-item {
                z-index: 1;
                display: inline-block;
                position: relative;
                &:hover {
                    .cat-drop-list {
                        position: absolute;
                        display: block;
                        top: 100%;
                    }
                }
            }
            &__link {
                color: #565656;
                display: block;
                padding: rem(22px) rem(28.5px) rem(22px) 0;
                &:hover,
                &_active {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
        &-drop {
            &-list {
                width: rem(158px);
                margin: 0;
                padding: 0;
                list-style: none;
                display: none;
                border-radius: 0 0 rem(10px) rem(10px);
                overflow: hidden;
                background: $red;
            }
            &-item {
                border-bottom: 1px solid #b63b3b;
                border-top: 1px solid #ff8888;
                &:last-child {
                    border-bottom-color: transparent;
                }
                &:first-child {
                    border-top-color: transparent;
                }
            }
            &__link {
                padding: rem(11px) rem(16px);
                display: block;
                color: white;
                border-top: 1px solid $red;
                &_active,
                &:hover {
                    background: #ff7979;
                    text-decoration: none;
                }
            }
        }
    }
    &-search {
        &-input {
            border: 1px solid #e0e0e0;
            border-radius: rem(2px);
            vertical-align: middle;
            font-family: 'RalewayBold';
            font-size: rem(12px);
            padding: rem(10px) rem(15px);
            width: rem(158px);
            margin: rem(11px) 0;
        }
        &-wrap {
            position: relative;
            &:after {
                display: inline-block;
                position: absolute;
                font-family: 'FontAwesome';
                right: rem(10px);
                top: 50%;
                transform: translateY(-50%);
                content: '\f002';
            }
        }
    }
}

.cart {
    &-icon,
    &-descr,
    &__price {
        display: inline-block;
    }
    &-descr {
        font-family: 'RalewayBold';
    }
    &__price {
        font-family: 'MuseoSlab500';
        font-size: rem(16px);
        margin-left: rem(16px);
    }
    vertical-align: middle;
    border: 1px solid #e0e0e0;
    border-radius: rem(2px);
    margin: rem(12px) rem(7px);
    padding: rem(7.5px) rem(15px);
}