.header {
    position: relative;
    background: white;
    &-top {
        @extend %clearfix;
        letter-spacing: rem(-0.6px);
        background: $red;
        border-bottom: 1px solid #f38080;
        color: white;
        &-nav {
            &-list {
                @extend %list;
                font-size: rem(12px);
            }
            &-item {
                display: inline-block;
                margin-right: rem(30px);
                .fa {
                    margin-right: rem(10px);
                }
            }
            &__link {
                display: block;
                color: white;
                padding: rem(9px) rem(2px) rem(5px);
                border-bottom: rem(2px) solid transparent;
                &:hover {
                    text-decoration: none;
                    border-color: white;
                }
            }
        }
    }
    &-greeter {
        letter-spacing: rem(-0.65px);
        margin: rem(5px) rem(7px) 0 0;
        &__link {
            color: white;
        }
    }
    &-main {
        padding: rem(29px) 0 rem(17px);
        .logo {
            margin-top: rem(16px);
            margin-left: rem(-13px);
        }
    }
    &-bottom {
        border-top: 1px solid $border-grey-md;
        &-right {
            padding-top: rem(12px);
        }
    }
    &-contacts {
        &-list {
            &-inner {
                border-left: 1px solid $border-grey-md;
                padding-left: rem(18px);
                padding-right: rem(1px);
                margin: 0 0 0 rem(16px);
                display: inline-block;
            }
        }
        &-item {
            display: inline-block;
            margin-left: rem(50px);
            .fa {
                color: $red;
                font-size: rem(44px);
            }
        }
    }
    &-search {
        &-input {
            border: 1px solid $border-grey-dk;
            border-radius: rem(2px);
            vertical-align: middle;
            font-family: 'RalewayBold';
            width: rem(158px);
        }
        &-wrap {
            position: relative;
            margin-left: rem(8px);
            &:after {
                display: inline-block;
                position: absolute;
                font-family: 'FontAwesome';
                right: rem(10px);
                top: 50%;
                transform: translateY(-50%);
                content: '\f002';
            }
        }
    }
}

.cat {
    &-nav {
        &-list {
            @extend %list;
            letter-spacing: rem(-0.8px);
            font-size: rem(16px);
        }
        &-item {
            z-index: 1;
            display: inline-block;
            position: relative;
            margin-right: rem(28px);
            &:hover {
                .cat-drop-list {
                    position: absolute;
                    display: block;
                    top: 100%;
                }
            }
        }
        &__link {
            color: $text-grey-md;
            padding: rem(18px) 0;
            display: block;
            &:hover,
            &_active {
                color: $red;
                text-decoration: none;
            }
        }
    }
    &-drop {
        &-list {
            @extend %list;
            font-size: rem(16px);
            letter-spacing: rem(-0.8px);
            width: rem(158px);
            display: none;
            border-radius: 0 0 rem(10px) rem(10px);
            overflow: hidden;
            background: $red;
            box-shadow: rem(5px) rem(5px) rem(5px) rem(5px) rgba(#cacaca, .25);
        }
        &-item {
            z-index: 1;
            border-bottom: 1px solid #b63b3b;
            border-top: 1px solid #ff8888;
            &:last-child {
                border-bottom-color: transparent;
            }
            &:first-child {
                border-top-color: transparent;
            }
        }
        &__link {
            display: block;
            color: white;
            border-top: 1px solid $red;
            &_active,
            &:hover {
                background: #ff7979;
                text-decoration: none;
            }
        }
    }
}

.cart {
    padding: rem(4px) rem(13px);
    letter-spacing: rem(-0.1px);
    &-icon,
    &-descr,
    &__price {
        display: inline-block;
    }
    &-descr {
        font-family: 'RalewayBold';
        margin: 0 rem(16px) 0 rem(6px);
    }
    &__price {
        font-family: 'MuseoSlab500';
        font-size: rem(16px);
        letter-spacing: rem(0.3px);
    }
    vertical-align: middle;
    border: 1px solid $border-grey-dk;
    border-radius: rem(2px);
}