.aside {
    &__header {
        padding: 0 0 rem(37px);
        line-height: 1;
        font-size: rem(32px);
        font-family: 'MuseoSlab500';
        border-bottom: 4px solid #dddddd;
        letter-spacing: rem(-1.45px);
    }
    &__body {
        padding: rem(23px) 0 0;
    }
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
        &_inline {
            display: flex;
            justify-content: space-between;
            .aside-item {
                margin: 0 rem(14px);
                width: rem(344px);
            }
        }
    }
    &-item {
        margin-bottom: rem(41px);
        &_dark-bg {
            .aside {
                &__header {
                    border-color: #3b3b3b;
                }
            }
        }
    }
    &-products {
        &-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        &-item {
            border-bottom: rem(1px) solid #3d3d3d;
            padding: 0 0 rem(24px);
            margin: 0 0 rem(24px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &:last-child {
                border-bottom: none;
            }
        }
        &-descr {
            border-right: rem(1px) solid #3d3d3d;
            padding: 0 rem(18px);
            margin-left: rem(88px);
            &__header {
                font-family: 'MuseoSlab500';
                font-size: rem(15px);
                margin-bottom: rem(8px);
                letter-spacing: rem(-0.35px);
            }
            &__text {
                color: #808080;
            }
        }
        &-right {
            text-align: center;
            width: rem(88px);
        }
    }
    &-inner {
        &-list {
            margin: 0;
            padding: 0 0 0 rem(3px);
            list-style: none;
        }
        &-item {
            font-size: rem(16px);
            letter-spacing: rem(-0.8px);
            margin-bottom: rem(8px);
        }
        &__link {
            font-family: 'RalewayRegular';
            color: $medium-grey-l;
            &:hover {
                text-decoration: none;
                color: $red;
            }
            &_active {
                color: $red;
            }
        }
    }
    &-form-group {
        display: flex;
        align-items: center;
        input {
            width: 100%;
            margin-right: rem(-10px);
            padding-right: rem(15px);
        }
        .btn,
        input[type="submit"],
        input[type="button"] {
            width: auto;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}