.aside {
    &__header {
        font-family: 'MuseoSlab500';
        font-size: rem(32px);
        border-bottom: 4px solid #dddddd;
        letter-spacing: rem(-1.45px);
        padding-bottom: rem(27px);
    }
    &__body {
        padding: rem(23px) 0;
    }
    &__text-block {
        margin: rem(4px) 0 rem(28px);
    }
    &-media-none {
        @include mediaMax(940px) {
            display: none;
        }
    }
    &-list {
        @extend %list;
        &_inline {
            display: flex;
            justify-content: space-between;
            .aside-item {
                width: rem(344px);
                margin: 0 rem(10px);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            @include mediaMax(940px) {
                display: block;
                .aside-item {
                    width: 100%;
                }
            }
        }
    }
    &-item {
        &_dark-bg {
            .aside {
                &__header {
                    border-color: $border-grey-bl;
                }
                &-thumbs {
                    &-item {
                        border-color: $border-grey-bl;
                    }
                    &-descr {
                        border-color: $border-grey-bl;
                    }
                }
            }
            .socials__link {
                color: white;
                &:hover {
                    color: $red;
                }
                &_red {
                    color: $red;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    &-thumbs {
        &-list {
            @extend %list;
        }
        &-item {
            border-bottom: rem(1px) solid #cdcdcd;
            padding: 0 0 rem(24px);
            margin: 0 0 rem(24px);
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            &:last-child {
                border-bottom: none;
            }
        }
        &__pic {
            width: rem(96px);
            padding: 0 rem(10px);
            flex-shrink: 0;
            flex-grow: 0;
            @include mediaMax(1080px) {
                display: none;
            }
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
        &-descr {
            border-right: rem(1px) solid #cdcdcd;
            padding: 0 rem(14px);
            &__header {
                font-family: 'MuseoSlab500';
                letter-spacing: rem(-0.7px);
                font-size: rem(15px);
                margin-bottom: rem(6px);
            }
            &__text {
                color: #808080;
            }
        }
        &-right {
            text-align: center;
            padding: rem(6px) 0 0;
            width: rem(88px);
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
    &-inner {
        &-list {
            @extend %list;
            font-size: rem(16px);
            padding-left: rem(3px);
        }
        &-item {
            letter-spacing: rem(-0.8px);
            margin-bottom: rem(6px);
        }
        &__link {
            font-family: 'RalewayRegular';
            color: $text-grey-md;
            &:hover {
                text-decoration: none;
                color: $red;
            }
            &_active {
                color: $red;
            }
        }
    }
    &-form-group {
        display: flex;
        align-items: center;
        margin: rem(8px) 0 rem(13px);
    }
    &-btn {
        width: auto;
        flex-shrink: 0;
        flex-grow: 0;
        padding: rem(14px);
        &:hover {
            background: $body-bg;
        }
    }
    &-input {
        font-family: 'RalewayRegular';
        border-radius: rem(10px);
        font-size: rem(16px);
        letter-spacing: rem(0.5px);
        padding: rem(15px) rem(16px);
        margin-right: rem(-10px);
    }
}