.aside {
    &__header {
        font-family: 'MuseoSlab500';
        border-bottom: 4px solid #dddddd;
        letter-spacing: rem(-1.45px);
    }
    &__body {}
    &-list {
        @extend %list;
        &_inline {
            display: flex;
            justify-content: space-between;
            .aside-item {
                width: rem(344px);
            }
        }
    }
    &-item {
        &_dark-bg {
            .aside {
                &__header {
                    border-color: $border-grey-bl;
                }
                &-products {
                    &-item {
                        border-color: $border-grey-bl;
                    }
                    &-descr {
                        border-color: $border-grey-bl;
                    }
                }
            }
            .socials__link {
                color: white;
                &:hover {
                    color: $red;
                }
                &_red {
                    color: $red;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    &-products {
        &-list {
            @extend %list;
        }
        &-item {
            border-bottom: rem(1px) solid #cdcdcd;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &:last-child {
                border-bottom: none;
            }
        }
        &-descr {
            border-right: rem(1px) solid #cdcdcd;
            &__header {
                font-family: 'MuseoSlab500';
                letter-spacing: rem(-0.35px);
            }
            &__text {
                color: #808080;
            }
        }
        &-right {
            text-align: center;
            width: rem(88px);
        }
    }
    &-inner {
        &-list {
            @extend %list;
        }
        &-item {
            letter-spacing: rem(-0.8px);
        }
        &__link {
            font-family: 'RalewayRegular';
            color: $text-grey-md;
            &:hover {
                text-decoration: none;
                color: $red;
            }
            &_active {
                color: $red;
            }
        }
    }
    &-form-group {
        display: flex;
        align-items: center;
    }
    &-btn {
        width: auto;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &-input {
        font-family: 'RalewayRegular';
        border-radius: rem(10px);
    }
}