.products {
    &-list {
        font-size: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-item {
        vertical-align: top;
        text-align: center;
        max-width: rem(251px);
        margin-bottom: rem(28px);
        &:last-child {
            margin: 0;
        }
    }
    &__name {
        font-size: rem(18px);
        font-family: 'MuseoSlab500';
        color: #454545;
        text-align: center;
        margin-bottom: rem(14px);
    }
    &__price {
        color: $red;
        width: rem(88px);
        font-size: rem(32px);
        font-family: 'MuseoSlab500';
        line-height: 1.1;
    }
    &__currency {
        color: #999999;
        font-size: rem(14px);
    }
    &-bottom {
        @extend %clearfix;
        border-top: rem(1px) solid #e3e3e3;
        padding: rem(18px) 0;
        &__left {
            float: left;
            width: rem(94px);
            border-right: 1px solid #d8d8d8;
        }
        &__right {
            float: left;
            width: rem(154px);
        }
    }
    &-preview {
        &__pic {
            height: rem(190px);
            overflow: hidden;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-select {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }
        &-item {
            display: inline-block;
            position: relative;
            padding-right: rem(40px); // ???
            &:before,
            &:after {
                display: block;
                position: absolute;
                content: '';
                height: rem(8px);
                width: 50%;
                top: 50%;
                transform: translateY(-50%);
                background: #d4d4d4;
            }
            &:before {
                left: rem(-30px);
            }
            &:after {
                right: rem(-30px);
            }
        }
        &__link {
            font-family: 'MuseoSlab500';
            font-size: rem(32px);
            color: #575757;
            display: block;
            padding-bottom: rem(80px);
            &:after {
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: rem(60px);
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-image: url('../img/png-icons/inactive.png');
                background-position: center center;
                background-repeat: no-repeat;
            }
            &_active,
            &:hover {
                color: $red;
                text-decoration: none;
                &:after {
                    background-image: url('../img/png-icons/active.png')
                }
            }
        }
    }
}