.products {
    &-list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-item {
        vertical-align: top;
        text-align: center;
        max-width: rem(251px);
        &:last-child {}
    }
    &__name {
        text-align: center;
        letter-spacing: rem(-0.8px);
    }
    &__price {
        color: $red;
        font-family: 'MuseoSlab500';
        font-size: rem(32px);
        line-height: 1;
        letter-spacing: rem(-1.5px);
    }
    &__currency {
        color: #999999;
        font-size: rem(14px);
    }
    &-bottom {
        @extend %clearfix;
        border-top: rem(1px) solid $border-grey-md;
        &__left {
            float: left;
            width: rem(94px);
            border-right: 1px solid $border-grey-md;
        }
        &__right {
            float: left;
            width: rem(154px);
        }
    }
    &-preview {
        &__pic {
            height: rem(190px);
            overflow: hidden;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
        }
        &__price {
            font-size: rem(18px);
            color: $red;
            text-decoration: line-through;
            font-family: 'MuseoSlab500';
        }
        &__currency {
            font-size: rem(10px);
        }
    }
    &-select {
        &-list {
            @extend %list;
            overflow: hidden;
            font-size: rem(32px);
        }
        &-item {
            display: inline-block;
            position: relative;
            margin-right: rem(75px);
            letter-spacing: rem(-1.45px);
            &:before,
            &:after {
                display: block;
                position: absolute;
                content: '';
                height: rem(8px);
                width: 50%;
                top: 50%;
                transform: translateY(-50%);
                background: #d4d4d4;
            }
            &:before {
                left: rem(-30px);
            }
            &:after {
                right: rem(-30px);
            }
        }
        &__link {
            font-family: 'MuseoSlab500';
            color: $text-grey-md;
            display: block;
            &:after {
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: rem(60px);
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-image: url('../img/png-icons/inactive.png');
                background-position: center center;
                background-repeat: no-repeat;
            }
            &_active,
            &:hover {
                color: $red;
                text-decoration: none;
                &:after {
                    background-image: url('../img/png-icons/active.png')
                }
            }
        }
    }
}