.products {
    &-btn {
        font-size: rem(18px);
    }
    &-list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(37px);
    }
    &-item {
        vertical-align: top;
        text-align: center;
        width: rem(251px);
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__name {
        text-align: center;
        letter-spacing: rem(-0.8px);
    }
    &__price {
        color: $red;
        font-family: 'MuseoSlab500';
        font-size: rem(32px);
        line-height: 1;
        letter-spacing: rem(-1.5px);
    }
    &__currency {
        color: #999999;
        font-size: rem(14px);
    }
    &-bottom {
        padding: rem(17px) 0;
        border-top: rem(1px) solid $border-grey-md;
        display: flex;
        &__left {
            width: rem(97px);
            border-right: 1px solid $border-grey-md;
            flex-grow: 0;
            flex-shrink: 0;
        }
        &__right {
            margin-left: rem(4px);
            width: 100%;
        }
    }
    &-preview {
        padding: 0 0 rem(9px);
        &__pic {
            height: rem(192px);
            overflow: hidden;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
        }
        &__price {
            font-size: rem(18px);
            line-height: 1;
            color: $red;
            text-decoration: line-through;
            font-family: 'MuseoSlab500';
            margin: 0 0 rem(2px);
        }
        &__currency {
            font-size: rem(10px);
            line-height: 1;
        }
    }
    &-select {
        &-list {
            @extend %list;
            overflow: hidden;
            font-size: rem(32px);
            position: relative;
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                width: 100%;
                margin-top: rem(14px);
                content: '';
                height: rem(8px);
                border-radius: rem(8px);
                background: #d4d4d4;
            }
        }
        &-item {
            display: inline-block;
            position: relative;
            letter-spacing: rem(-1.45px);
            margin-right: rem(74px);
        }
        &__link {
            font-family: 'MuseoSlab500';
            color: $text-grey-md;
            display: block;
            padding-bottom: rem(94px);
            &:after {
                position: absolute;
                z-index: 1;
                display: block;
                content: '';
                width: rem(52px);
                background: $body-bg;
                height: rem(60px);
                margin-top: rem(14px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url('../img/png-icons/inactive.png');
                background-position: center center;
                background-repeat: no-repeat;
            }
            &_active,
            &:hover {
                color: $red;
                text-decoration: none;
                &:after {
                    background-image: url('../img/png-icons/active.png')
                }
            }
        }
    }
}