.slider {
    background: white;
    background-image: url('../img/backgrounds/slider-bg.png');
    background-repeat: repeat no-repeat;
    margin-bottom: rem(46px);
    position: relative;
    &-container {
        position: relative;
        height: 100%;
    }
    &-list {
        @extend %list;
        position: relative;
        height: rem(644px);
    }
    &:after {
        display: block;
        height: rem(33px);
        width: 100%;
        content: '';
        background: url('../img/patterns/round-border.png');
    }
    &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        &_active {
            display: block;
        }
    }
    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &_left {
            left: rem(33px);
        }
        &_right {
            right: rem(33px);
        }
    }
    &-circle {
        height: rem(144px);
        width: rem(144px);
        position: absolute;
        border-radius: 50%;
        background: white;
        color: $red;
        box-shadow: rem(-8px) rem(-8px) 0 rem(8px) rgba(#636363, .2);
        top: 45.5%;
        text-align: center;
        line-height: 1;
        @include mediaMax(560px) {
            width: rem(110px);
            height: rem(110px);
        }
        &_lg {
            box-shadow: rem(-12px) rem(-12px) 0 rem(12px) rgba(#636363, .2);
            background: $red;
            color: white;
            width: rem(304px);
            height: rem(304px);
            .slider-circle__text {
                font-size: rem(24px);
                &-lg {
                    line-height: 0.87;
                    font-size: rem(75px);
                    font-family: 'RalewayBold';
                    letter-spacing: rem(-4px);
                    margin-bottom: rem(14px);
                    @include mediaMax(420px) {
                        font-size: rem(45px);
                    }
                }
            }
            @include mediaMax(420px) {
                width: rem(220px);
                height: rem(220px);
            }
        }
        &_left {
            left: rem(93px);
            @include mediaMax(875px) {
                left: rem(30px);
                top: 30%;
            }
        }
        &_right {
            right: rem(93px);
            @include mediaMax(875px) {
                right: rem(30px);
                top: 10%;
            }
        }
        &_center {
            left: 50%;
            transform: translateX(-50%);
            @include mediaMax(630px) {
                left: 60%;
                top: 52%;
            }
        }
        &__text {
            font-size: rem(18px);
            letter-spacing: rem(-1.1px);
            &-lg {
                font-size: rem(48px);
                font-family: 'RalewayHeavy';
                letter-spacing: rem(-2.4px);
                &_symbol {
                    font-size: rem(24px);
                }
            }
            @include mediaMax(560px) {
                font-size: rem(16px);
                &-lg {
                    font-size: rem(32px);
                }
            }
        }
        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}