.thumbs {
    &-btn {
        font-size: rem(18px);
        padding: rem(8px) rem(13px);
    }
    &-list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(12px);
        @include mediaMax(710px) {
            display: block;
        }
    }
    &-item {
        vertical-align: top;
        margin-bottom: rem(34px);
        text-align: center;
        width: rem(251px);
        @include mediaMax(1100px) {
            width: rem(310px);
        }
        @include mediaMax(1020px) {
            width: 48%;
        }
        @include mediaMax(710px) {
            width: 100%;
        }
    }
    &__name {
        text-align: center;
        letter-spacing: rem(-0.8px);
    }
    &__price {
        color: $red;
        font-family: 'MuseoSlab500';
        font-size: rem(32px);
        line-height: 1;
        letter-spacing: rem(-1.5px);
    }
    &__currency {
        color: #999999;
        font-size: rem(14px);
    }
    &-bottom {
        padding: rem(17px) 0 rem(8px);
        border-top: rem(1px) solid $border-grey-md;
        display: flex;
        &__left {
            width: rem(97px);
            border-right: 1px solid $border-grey-md;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0 rem(5px);
            @include mediaMax(710px) {
                width: 50%;
            }
        }
        &__right {
            margin-left: rem(4px);
            padding: 0 rem(5px);
            width: 100%;
            @include mediaMax(710px) {
                width: 50%;
            }
        }
    }
    &-preview {
        padding: rem(22px) rem(20px) rem(10px);
        position: relative;
        &__pic {
            height: rem(118px);
            margin-bottom: rem(52px);
            overflow: hidden;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
        &__price {
            font-size: rem(18px);
            line-height: 1;
            color: $red;
            text-decoration: line-through;
            font-family: 'MuseoSlab500';
            margin: 0 0 rem(2px);
        }
        &__currency {
            font-size: rem(10px);
            line-height: 1;
        }
        &-price-wrap {
            position: absolute;
            bottom: rem(50px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &-select {
        &-list {
            @extend %list;
            overflow: hidden;
            font-size: rem(32px);
            position: relative;
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                width: 100%;
                margin-top: rem(12px);
                content: '';
                height: rem(8px);
                border-radius: rem(8px);
                background: #d4d4d4;
            }
            @include mediaMax(900px) {
                font-size: rem(24px);
            }
            @include mediaMax(710px) {
                margin-bottom: rem(30px);
                &:after {
                    display: none;
                    content: none;
                }
            }
        }
        &-item {
            display: inline-block;
            position: relative;
            letter-spacing: rem(-1.45px);
            margin-right: rem(74px);
            @include mediaMax(710px) {
                margin: rem(35px) 0 rem(35px);
                display: block;
            }
        }
        &__link {
            font-family: 'MuseoSlab500';
            color: $text-grey-md;
            display: block;
            padding-bottom: rem(94px);
            &:after {
                position: absolute;
                z-index: 1;
                display: block;
                content: '';
                width: rem(52px);
                height: rem(60px);
                margin-top: rem(12px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url('../img/png-icons/inactive.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-color: $body-bg;
            }
            &_active,
            &:hover {
                color: $red;
                text-decoration: none;
                &:after {
                    background-image: url('../img/png-icons/active.png')
                }
            }
            @include mediaMax(710px) {
                padding: 0 0 0 rem(80px);
                &:after {
                    left: 0;
                    top: 0;
                    transform: translate(0, -22%);
                    margin: 0;
                    background-color: transparent;
                }
            }
        }
    }
}