extends ../templates/page.pug

block variables
    - var title = "About page"

block content
    h1 About
    p Et veniam incididunt aliqua aliquip proident. Tempor fugiat amet sunt in ea ullamco laboris. Dolore eiusmod dolor deserunt cupidatat Lorem voluptate ut minim cillum pariatur labore dolor adipisicing voluptate. Adipisicing mollit proident laboris ut dolor eiusmod do aliquip.
    img(src="img/test.jpg" alt="")