extends ../templates/layout.pug

block variables
    - var title = "Chillin' out and drinking some wine."

block content
    +page-nav("Blog")
    .container
        main.main.block.block_bg.blog-item
            .block__body
                .blog__pic
                    img.blog__img(src="http://lorempixel.com/1024/768/nature" alt=title)
                .blog__title #{title}
                ul.blog-meta-list
                    li.blog-meta-item
                        | By 
                        a.blog-meta__link(href="#") Admin
                    li.blog-meta-item
                        | In 
                        a.blog-meta__link(href="#") Awesomeness
                    li.blog-meta-item
                        | Date 
                        a.blog-meta__link(href="#") 28 oct 2013
                    li.blog-meta-item
                        | 56 
                        a.blog-meta__link(href="#") comments
                .blog__content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. Nam gravida posuere  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. 
                    .title.title_md A cool subtitle goes here
                    p Nulla vitae est leo. Nam gravida posuere  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo.
                .blog-comments
                    .title.title_large.form__title 3 Comments. Get involved
                    ul.blog-comments-list
                        +blog-comments-item
                            ul.blog-comments-list
                                +blog-comments-item
                                    ul.blog-comments-list
                                        +blog-comments-item
                    form
                        .title.title_large.form__title Leave a reply
                        .form_two-groups
                            .form-group.form-group_sm
                                input(type="text" placeholder="Name").input.input_msg-form
                                input(type="email" placeholder="Email").input.input_msg-form
                                input(type="text" placeholder="Website").input.input_msg-form
                            .form-group.form-group_lg
                                textarea.textarea(placeholder="Your comment")
                        .form__footer
                            button(type="submit").btn.btn_sb Submit
        aside.sidebar
            include ../includes/blog-sidebar.pug