extends ../templates/layout.pug

block variables
    - var title = "Browse"

block content
    nav.page-nav
        .container
            ul.breadcrumbs-list
                li.breadcrumbs-item
                    a.breadcrumbs__link(href="#") Homepage
                li.breadcrumbs-item
                    a.breadcrumbs__link(href="#") T-Shirts
                li.breadcrumbs-item Mens
            .page-nav__right
                label(for="sort") Sort by
                ul(id="sort").dropdown-list.dropdown-list_red
                    li.dropdown-item.dropdown-item_red Price (Low to High)
                    li.dropdown-item.dropdown-item_red Price (Hight to Low)
                    li.dropdown-item.dropdown-item_red Name (A-Z)
                    li.dropdown-item.dropdown-item_red Name (Z-A)
                    li.dropdown-item.dropdown-item_red Quantity (Low to High)
                    li.dropdown-item.dropdown-item_red Quantity (High to Low)
    .container
        ul.products-list
            +products-item('Dope T-Shirt', '799')
            +products-item('Einstein T-Shirt', '469', '369')
            +products-item('Rock Roll T-Shirt', '199')
            +products-item('The Beetles T-Shirt', '209')
            +products-item('Cocaine Zero T-Shirt', '799')
            +products-item('Power King T-Shirt', '369')
            +products-item('Captain Awesome T-Shirt', '199')
            +products-item('Happy T-Shirt', '209')
            +products-item('Dope T-Shirt', '799')
            +products-item('Einstein T-Shirt', '469', '369')
            +products-item('Rock Roll T-Shirt', '199')
            +products-item('The Beetles T-Shirt', '209')
            +products-item('Cocaine Zero T-Shirt', '799')
            +products-item('Power King T-Shirt', '369')
            +products-item('Captain Awesome T-Shirt', '199')
            +products-item('Happy T-Shirt', '209')
        include ../includes/pgn-btns.pug