extends ../templates/layout.pug

block variables
    - var title = "Browse"

block content
    nav.page-nav
        .container
            ul.breadcrumbs-list
                li.breadcrumbs-item
                    a.breadcrumbs__link(href="#") Homepage
                li.breadcrumbs-item
                    a.breadcrumbs__link(href="#") T-Shirts
                li.breadcrumbs-item Mens
            .browse-sort-wrap
                label(for="sort") Sort by
                +dropdown([['Price (Low to High)','toHigh'],['Price (High to Low)','toLow'],['Name (A-Z)','nameAZ'],['Name (Z-A)','nameZA']],'sort','browse-select')
    .container
        ul.thumbs-list
            +thumbs-item('Dope T-Shirt', '799')
            +thumbs-item('Einstein T-Shirt', '469', '369')
            +thumbs-item('Rock Roll T-Shirt', '199')
            +thumbs-item('The Beetles T-Shirt', '209')
            +thumbs-item('Cocaine Zero T-Shirt', '799')
            +thumbs-item('Power King T-Shirt', '369')
            +thumbs-item('Captain Awesome T-Shirt', '199')
            +thumbs-item('Happy T-Shirt', '209')
            +thumbs-item('Dope T-Shirt', '799')
            +thumbs-item('Einstein T-Shirt', '469', '369')
            +thumbs-item('Rock Roll T-Shirt', '199')
            +thumbs-item('The Beetles T-Shirt', '209')
            +thumbs-item('Cocaine Zero T-Shirt', '799')
            +thumbs-item('Power King T-Shirt', '369')
            +thumbs-item('Captain Awesome T-Shirt', '199')
            +thumbs-item('Happy T-Shirt', '209')
        include ../includes/pgn-btns.pug