extends ../templates/layout.pug

block variables
    - var title = "Cart"

block content
    +page-nav(title)
    .container
        .table-wrap.block.block_bg.cart-table
            table
                thead
                    tr
                        th
                        th Item
                        th Quantity
                        th Unit price
                        th Total
                tbody
                    tr
                        td
                            a.table__btn(href="#")
                                i.fa.fa-window-close-o(aria-hidden="true")
                        td
                            img.table__img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg")
                            | Adidas Commander TD3 Code G48794
                        td
                            input(type="number" value="12").input.table__input-number
                        td 29,99 USD
                        td 159,99 USD
                    tr
                        td
                            a.table__btn(href="#")
                                i.fa.fa-window-close-o(aria-hidden="true")
                        td 
                            img.table__img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg")
                            | Adidas Ax 1 Code V21609
                        td
                            input(type="number" value="2").input.table__input-number
                        td 39,99 USD
                        td 169,99 USD
                    tr
                        td
                            a.table__btn(href="#")
                                i.fa.fa-window-close-o(aria-hidden="true")
                        td 
                            img.table__img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg")
                            | Adidas Barricade 6 Andy Murray Code G40436
                        td
                            input(type="number" value="15").input.table__input-number
                        td 49,99 USD
                        td 179,99 USD
                    tr
                        td
                            a.table__btn(href="#")
                                i.fa.fa-window-close-o(aria-hidden="true")
                        td
                            img.table__img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg")
                            | Adidas Galaxy Arriba II Code G60635
                        td
                            input(type="number" value="20").input.table__input-number
                        td 59,99 USD
                        td 189,99 USD
        include ../includes/discount-coupon.pug
        ul.btn-list
            li.btn-item
                a(href="#").btn.btn_md.btn_black Shop more
            li.btn-item
                a(href="#").btn.btn_md.btn_black Update cart
            li.btn-item
                a(href="#").btn.btn_md Place order