extends ../templates/layout.pug

block variables
    - var title = "Cart"

block content
    +page-nav(title)
    .container
        table.block.block_bg.table_cart
            thead
                tr
                    th
                    th Item
                    th Quantity
                    th Unit price
                    th Total
            tbody
                tr
                    td
                    td Adidas Commander TD3 Code G48794
                    td 12
                    td 29,99 USD
                    td 159,99 USD
                tr
                    td
                    td Adidas Axz 1 Code V21609
                    td 2
                    td 39,99 USD
                    td 169,99 USD
                tr
                    td
                    td Adidas Barricade 6 Andy Murray Code G40436
                    td 15
                    td 49,99 USD
                    td 179,99 USD
                tr
                    td
                    td Adidas Galaxy Arriba II Code G60635
                    td 20
                    td 59,99 USD
                    td 189,99 USD
        include ../includes/discount-coupon.pug
        ul.btn-list.btn-list_right
            li.btn-item
                a(href="#").btn.btn_lg.btn_black Shop more
            li.btn-item
                a(href="#").btn.btn_lg.btn_black Update cart
            li.btn-item
                a(href="#").btn.btn_lg Place order