extends ../templates/layout.pug

block variables
    - var title = "Contact us"

block content
    +page-nav(title)
    .container
        main.main.block.block_bg
            .title.block__header Drop us a line.
            form.block__body.clearfix
                .form_two-groups
                    .form-group.form-group_sm
                        input(type="text" placeholder="Name").form-input
                        input(type="email" placeholder="Email").form-input
                        input(type="text" placeholder="Subject").form-input
                    .from-group.form-group_lg
                        textarea.form-textarea(placeholder="Your comment")
                button(type="submit").btn.right Submit
        aside.sidebar
            ul.aside-list
                +aside-shopmint()