extends ../templates/layout.pug

block variables
    - var title = "HeroWP.com"

block content
    .slider
        .slider-list
            .slider-item
                .slider-circle.slider-circle_left
                    .slider-circle-content
                        .slider-circle__text Delivery
                        .slider-circle__text-lg Free
                .slider-circle.slider-circle_lg.slider-circle_center
                    .slider-circle-content
                        .slider-circle__text-lg Great sale
                        .slider-circle__text On all models
                .slider-circle.slider-circle_right
                    .slider-circle-content
                        .slider-circle__text Starting from
                        .slider-circle__text-lg 429
                            span.slider-circle__text-lg_symbol $
            .slider-item
                h1 Ad voluptate eiusmod nulla consectetur anim consequat id. Qui laboris exercitation dolor quis sunt ex irure Lorem ad. Sint culpa ad dolor voluptate quis eu consectetur. Magna Lorem fugiat eiusmod nisi ipsum nostrud cillum non sint elit excepteur nulla.
            .slider-item
                h2 Nulla duis est reprehenderit ullamco reprehenderit. Eu proident minim consectetur excepteur eiusmod id occaecat. Sit incididunt aliqua cupidatat duis do. Sint pariatur eu deserunt consectetur commodo cillum cillum laboris. Sint enim labore esse amet. Est velit elit cupidatat in ipsum ullamco tempor nisi consectetur veniam laboris ea eiusmod.
                p Eiusmod esse est aliquip commodo. Aliqua sunt irure exercitation ullamco incididunt laboris non in exercitation non elit nulla ad. Cillum pariatur mollit tempor ex reprehenderit quis tempor est deserunt sunt fugiat reprehenderit id labore. Magna incididunt ad non velit est sunt. Adipisicing nisi ullamco in duis esse deserunt laboris. Lorem aliqua consectetur pariatur ea do et. Nostrud non qui excepteur aliqua id nulla tempor.
    .container
        .thumbs
            ul.thumbs-select-list
                li.thumbs-select-item
                    a.thumbs-select__link(href="#")#thumbsHot Hot products
                        span.text_red .
                li.thumbs-select-item.thumbs-select-item_active
                    a.thumbs-select__link(href="#")#thumbsLatest Latest products
                        span.text_red .
                li.thumbs-select-item
                    a.thumbs-select__link(href="#")#thumbsBest Best seller
                        span.text_red .
            include ../includes/thumbs.pug
        .useful-info
            .title.title_underline Useful informations
                span.text_red .
            ul.useful-info-list
                +useful-info-item('Very fast delivery','shipping')
                +useful-info-item('Every week discounts','sale-sign')
                +useful-info-item('Money saver','dollar-bag')