extends ../templates/layout.pug

block variables
    - var title = "Добро пожаловать!"

block content
    .test Non excepteur nostrud minim exercitation eu irure in et do adipisicing magna. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus commodi illum magni illo soluta qui fuga corporis ad dolorum asperiores. Labore commodi omnis eveniet distinctio quasi, sit exercitationem quod! Eos. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, accusantium. Esse recusandae temporibus id atque nostrum deserunt vel quidem! Earum officia deserunt nisi voluptatum. Esse voluptates molestiae alias provident in.