extends ../templates/layout.pug

block variables
    - var title = "HeroWP.com"

block content
    .container
        .slider
            .slider-list
                .slider-item
                    .slider-circle.slider-circle_small
                        .slider-circle__text Delivery
                        .slider-circle__text_large Free
                    .slider-circle.slider-circle_largr
                        .slider-circle__text_large Great sale
                        .slider-circle__text On all models
                    .slider-circle.slider-circle_small
                        .slider-circle__text Starting from
                        .slider-circle__text_large 429 $
            .slider-controls
                a.slider-btn.slider-btn_left(href="#")
                a.slider-btn.slider-btn_right(href="#")
        .proudcts-preview
            ul.products-select-list
                li.products-select-item
                    a.products-select__link(href="#") Hot products
                        span.text_red .
                li.products-select-item
                    a.products-select__link.products-select__link_active(href="#") Latest products
                        span.text_red .
                li.products-select-item
                    a.products-select__link(href="#") Best seller
                        span.text_red .
            ul.products-list
                +products-item('Dope T-Shirt', '799')
                +products-item('Einstein T-Shirt', '469', '369')
                +products-item('Rock Roll T-Shirt', '199')
                +products-item('The Beetles T-Shirt', '209')
            .divider
            ul.products-list
                +products-item('Cocaine Zero T-Shirt', '799')
                +products-item('Power King T-Shirt', '369')
                +products-item('Captain Awesome T-Shirt', '199')
                +products-item('Happy T-Shirt', '209')
        .userful-info
            .title.title_underline Useful informations
                span.text_red .
            ul.userful-info-list
                +userful-info-item('Very fast delivery')
                +userful-info-item('Every week discounts')
                +userful-info-item('Money saver')