extends ../templates/layout.pug

block variables
    - var title = "HeroWP.com"

block content
    .slider
        ul.slider-list.container
            li.slider-item
                .slider-circle.slider-circle_left
                    .slider-circle-content
                        .slider-circle__text Delivery
                        .slider-circle__text-lg Free
                .slider-circle.slider-circle_lg.slider-circle_center
                    .slider-circle-content
                        .slider-circle__text-lg Great sale
                        .slider-circle__text On all models
                .slider-circle.slider-circle_right
                    .slider-circle-content
                        .slider-circle__text Starting from
                        .slider-circle__text-lg 429
                            span.slider-circle__text-lg_symbol $
        .slider-controls
            a.pgn-btn.slider-btn.slider-btn_left(href="#")
                i.fa.fa-angle-left(aria-hidden="true")
            a.pgn-btn.slider-btn.slider-btn_right(href="#")
                i.fa.fa-angle-right(aria-hidden="true")
    .container
        .products-pages
            ul.products-select-list
                li.products-select-item
                    a.products-select__link(href="#") Hot products
                        span.text_red .
                li.products-select-item.products-select-item_active
                    a.products-select__link(href="#") Latest products
                        span.text_red .
                li.products-select-item
                    a.products-select__link(href="#") Best seller
                        span.text_red .
            ul.products-list
                +products-item('Dope T-Shirt', '799')
                +products-item('Einstein T-Shirt', '469', '369')
                +products-item('Rock Roll T-Shirt', '199')
                +products-item('The Beetles T-Shirt', '209')
            .divider
            ul.products-list
                +products-item('Cocaine Zero T-Shirt', '799')
                +products-item('Power King T-Shirt', '369')
                +products-item('Captain Awesome T-Shirt', '199')
                +products-item('Happy T-Shirt', '209')
        .useful-info
            .title.title_underline Useful informations
                span.text_red .
            ul.useful-info-list
                +useful-info-item('Very fast delivery')
                +useful-info-item('Every week discounts')
                +useful-info-item('Money saver')