extends ../templates/layout.pug

block variables
    - var title = "Chuck Norris Was Here T-Shirt"

block content
    +page-nav("Product")
    .container
        main.main.block.block_bg
            .block__body
                .clearfix
                    .product__pic
                        img(src="" alt=title).product__img
                    .product-select
                        .product-form-group
                            label(for="size").product__label Pick your desired size
                            +dropdown(['Medium (M)', 'Small (S)', 'Large (L)'],'size')
                        .product-form-group
                            label(for="color").product__label Pick your desired color
                            +dropdown(['Yellow','Green','Blue','Red'],'color')
                        .product-form-group
                            label(for="quantity").product__label Select a quantity
                            input(type="number" id="quantity" value="12").input.product__input
                .product-title
                    .title.title_lg Chuck Norris Was Here T-Shirt
                    ul.product-category-list
                        li.product-category-item
                            | Added in category 
                            a.product-category__link(href="#") Mens🡒
                        li.product-category-item
                            | Browse all the products inside the 
                            a.product-category__link(href="#") Mens🡒
                            | category.
                .product-cart
                    .product__price
                        span.product__price_old 799
                        span.product__currency USD
                    .product__price 599
                        span.product__currency USD
                    a(href="#").btn.btn_lg Add to cart
                .product-info
                    .product-tabs
                        ul.product-tabs-nav-list
                            li.product-tabs-nav-item.product-tabs-nav-item_active
                                a.product-tabs-nav__link(href="#") Description
                                    span.text_red .
                            li.product-tabs-nav-item
                                a.product-tabs-nav__link(href="#") Additional information
                                    span.text_red .
                            li.product-tabs-nav-item
                                a.product-tabs-nav__link(href="#") Customer reviews(3)
                                    span.text_red .
                        ul.product-tabs
                            li.product-tabs-item
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam, at corrupti dolorem hic repudiandae fugiat necessitatibus amet, esse voluptatem sapiente, cupiditate ducimus delectus dolorum officiis nisi error aperiam officia.
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eos? Recusandae, enim illo consequuntur iure autem cupiditate quisquam voluptatibus quas, odit eos repellendus incidunt, debitis est tempora repudiandae modi sint!
                            li.product-tabs-item
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quibusdam, at corrupti dolorem hic repudiandae fugiat necessitatibus amet, esse voluptatem sapiente, cupiditate ducimus delectus dolorum officiis nisi error aperiam officia.
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eos? Recusandae, enim illo consequuntur iure autem cupiditate quisquam voluptatibus quas, odit eos repellendus incidunt, debitis est tempora repudiandae modi sint!
                            li.product-tabs-item.product-tabs-item_active
                                .form-group.form_two-groups
                                    .form-group.form-group_sm
                                        input(type="text" placeholder="Name").input.input_msg-form
                                        input(type="email" placeholder="Email").input.input_msg-form
                                        +dropdown(['Rate'],'rate')
                                    .form-group.form-group_lg
                                        textarea(placeholder="Your review").textarea
                                ul.product-review-list
                                    +review-item('John Doe','Not bad', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. Nam gravida posuere')
                                    +review-item('Elizabeth Taylor','Very poor','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. Nam gravida posuere')
                                    +review-item('John Smith','Excellent','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. Nam gravida posuere  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet nisl cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor lacus. Nulla vitae est leo. Nam gravida posuere')
        aside.sidebar
            ul.aside-list
                +aside-best-seller('')
                +aside-just-added('')
                li.aside-item
                    .aside__header Search our shop
                        span.text_red .
                    .aside__body
                        .aside-form-group
                            input(type="text" placeholder="Search product...").input.aside-input
                            input(type="submit" value="Search!").btn.aside-btn
                li.aside-item
                    .aside__header Shop tags
                        span.text_red .
                    .aside__body
                        ul.tags-list
                            li.tags-item
                                a(href="#" target="_blank").tags__link awesomeness
                            li.tags-item
                                a(href="#" target="_blank").tags__link cool
                            li.tags-item
                                a(href="#" target="_blank").tags__link awesome
    .container    
        .title.title_large.title_underline You migh also like
        ul.products-list
            +products-item('Dope T-Shirt', '799')
            +products-item('Einstein T-Shirt', '469', '369')
            +products-item('Rock Roll T-Shirt', '199')
            +products-item('The Beetles T-Shirt', '209')