extends ../templates/layout.pug

block variables
    - var title = "Register"

block content
    +page-nav(title)
    .container
        .block-wrap.register-block-wrap
            .block_half.block.block_bg
                form.block__body.clearfix
                    .title.title_md.text_red Login to your account
                    .block__descr If you already have an account please login.
                    .register-form-group
                        label(for="login_name").label_strong Enter username
                        input(type="text" id="login_name").input
                    .form-group
                        label(for="login_password").label_strong  Enter password
                        input(type="password" id="login_password").input
                    .register-form-group.inline
                        input(type="checkbox" id="remember").input_check
                        label(for="remember") Remember me
                    a(href="#" target="_blank").register__link-grey Forgot my password
                    input(type="submit" value="Login").btn.btn_sm.right
            .block_half.block.block_bg
                form.block__body.clearfix
                    .title.title_md.text_red Sign up for an account
                    .block__descr Signing up it's easy and will take only a few moments
                    .register-form-group
                        label(for="reg_username").label_strong  Enter username
                        input(type="text" id="reg_username").input
                    .register-form-group
                        label(for="reg_password").label_strong  Enter password
                        input(type="password" id="reg_password").input
                    .register-form-group
                        label(for="reg_pass_repeat").label_strong  Re-enter password
                        input(type="password" id="reg_pass_repeat").input
                    .register-form-group
                        label(for="reg_email").label_strong  Enter your email
                        input(type="email" id="reg_email").input
                    input(type="submit" value="Sign up").btn.btn_sm.right
                    