extends ../templates/layout.pug

block variables
    - var title = "Register"

block content
    +page-nav(title)
    .container
        .block-wrap.register-block-wrap
            .block_half.block.block_bg
                form.block__body.clearfix(onsubmit="login(event);")
                    .title.title_md.text_red Login to your account
                    .block__descr If you already have an account please login.
                    .form-group
                        label(for="login_email").label_strong Enter email
                        input(type="text" id="login_email").input
                    .form-group
                        label(for="login_password").label_strong  Enter password
                        input(type="password" id="login_password").input
                    .register-form-group
                        input(type="checkbox" id="login_remember").input_check
                        label(for="login_remember") Remember me
                    .register-form-group
                        a(href="#" target="_blank").register__link-grey Forgot my password
                    input(type="submit" value="Login").btn.btn_sm.register__sub-btn
            .block_half.block.block_bg
                form.block__body.clearfix(onsubmit="reg(event);")
                    .title.title_md.text_red Sign up for an account
                    .block__descr Signing up it's easy and will take only a few moments
                    .form-group
                        label(for="reg_email").label_strong  Enter your email
                        input(type="email" id="reg_email").input
                    .form-group
                        label(for="reg_password").label_strong  Enter password
                        input(type="password" id="reg_password").input
                    .form-group
                        label(for="reg_pass_repeat").label_strong  Re-enter password
                        input(type="password" id="reg_pass_repeat").input
                    .form-group
                        label(for="reg_lastname").label_strong  First Name
                        input(type="text" id="reg_firstname").input
                    .form-group
                        label(for="reg_lastname").label_strong  Last Name
                        input(type="text" id="reg_lastname").input
                    input(type="submit" value="Sign up").btn.btn_sm.register__sub-btn