extends ../templates/layout.pug

block variables
    - var title = "Register"

block content
    +page-nav(title)
    .container
        .block-half
            .title.title_medium.text_red Login to your account
            | If you already have an account please login.
            .form-group
                label(for="login_name") Enter username
                input(type="text" id="login_name")
            .form-group
                label(for="login_password") Enter password
                input(type="password" id="login_password")
            .form-group
                input(type="checkbox" id="remember")
                label(for="remember") Remember me

        .block-half
            .title.title_medium.text_red Sign up for an account
            | Signing up it's easy and will take only a few moments
            .form-group
                label(for="reg_username") Enter username
                input(type="text" id="reg_username")
            .form-group
                label(for="reg_password") Enter password
                input(type="password" id="reg_password")
            .form-group
                label(for="reg_pass_repeat") Re-enter password
                input(type="password" id="reg_pass_repeat")
            .form-group
                label(for="reg_email") Enter your email
                input(type="email" id="reg_email")
            a(href="#").btn.btn-primary
