.product-group
    .product-group__header
        | Just added
    .product-group-body
        ul.aside-products-list
            +aside-products-item('Happy T-Shirt', '289')
            +aside-products-item('Beetles T-Shirt', '569')
            +aside-products-item('Captain Awesome T-Shirt', '139')