ul.aside-list
    li.aside-item
        .aside__header Search our blog
        .aside__body
            .aside-form-group
                input(type="text" placeholder="Type search here...").aside-input
                input(type="submit" value="Search!").btn.aside-btn
    li.aside-item
        .aside__header Categories
        .aside__body
            ul.aside-inner-list
                li.aside-inner-item.aside-inner-item_active
                    a.aside-inner__link(href="#") Awesomeness&nbsp;&nbsp;( 24 ) 
                li.aside-inner-item
                    a.aside-inner__link(href="#") SEO Optimization&nbsp;&nbsp;( 35 )
                li.aside-inner-item
                    a.aside-inner__link(href="#") HTML 5 Advices&nbsp;&nbsp;( 47 )
                li.aside-inner-item
                    a.aside-inner__link(href="#") Wordpress Tricks&nbsp;&nbsp;( 55 )
                li.aside-inner-item
                    a.aside-inner__link(href="#") Web Design Tutorials&nbsp;&nbsp;( 48 )
    li.aside-item
        .aside__header Blog tags
        .aside__body
            ul.tags-list
                li.tags-item
                    a(href="#" target="_blank").tags__link entertaiment
                li.tags-item
                    a(href="#" target="_blank").tags__link html5
                li.tags-item
                    a(href="#" target="_blank").tags__link awesome
    li.aside-item
        .aside__header Our latest posts
        .aside__body
            ul.aside-inner-list
                li.aside-inner-item.aside-inner-item_active
                    a.aside-inner__link(href="#") I am just a super duper awesome blog post
                li.aside-inner-item
                    a.aside-inner__link(href="#") Yet another cool post in here
                li.aside-inner-item
                    a.aside-inner__link(href="#") I love the simple and cool design
                li.aside-inner-item
                    a.aside-inner__link(href="#") Yes sir indeed I love it too
                li.aside-inner-item
                    a.aside-inner__link(href="#") Yet another cool post here
                li.aside-inner-item
                    a.aside-inner__link(href="#") I love the simple and cool design