ul.sidebar-list
    li.sidebar-item
        .sidebar__header Search our blog
        .sidebar__body
            input(type="text" placeholder="Type search here...").input-sidebar
            input(type="submit" value="Search!").btn.btn-primary
    li.sidebar-item
        .sidebar__header Blog tags
        .sidebar__body
            ul.tags-list
                li.tags-item entertaiment
                li.tags-item html5
                li.tags-item awesome
    li.sidebar-item
        .sidebar__header Categories
        .sidebar__body
            ul.sidebar-inner-list
                li.sidebar-inner-item
                    a(href="#") I am just a super duper awesome blog post
                li.sidebar-inner-item
                    a(href="#") Yet another cool post in here
                li.sidebar-inner-item
                    a(href="#") I love the simple and cool design
                li.sidebar-inner-item
                    a(href="#") Yes sir indeed I love it too
                li.sidebar-inner-item
                    a(href="#") Yet another cool post here
                li.sidebar-inner-item
                    a(href="#") I love the simple and cool design