ul.cat-nav-list
    li.cat-nav-item.cat-nav-item_active
        a(href="#").cat-nav__link Mens
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Womens
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Kids
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Accesories
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Sports
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Brands
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks
    li.cat-nav-item
        a(href="#").cat-nav__link Outdoor
        ul.cat-drop-list
            li.cat-drop-item
                a(href="#").cat-drop__link T-Shirts
            li.cat-drop-item
                a(href="#").cat-drop__link Jeans
            li.cat-drop-item
                a(href="#").cat-drop__link Shorts
            li.cat-drop-item
                a(href="#").cat-drop__link Socks