.block-wrap
    form.block.block_half
        .block__body
            .title.title_md.text_red Discount coupon
            .block__descr If you have a coupon code please enter it here
            input(type="text" id="discount_code")
            .form__footer
                input(type="submit" value="Submit").btn
    table.block_half
        tbody
            tr
                td.title.title_md.text_red Order subtotal
                td.title.title_md.text_strong 11225,99 USD
            tr
                td.title.title_md.text_red Tax / Shipping (7%)
                td.title.title_md.text_strong 157,99 USD
            tr
                td.title.title_md.text_red Order total
                td.title.title_md.text_strong 26757,99 USD