form.block.block_half
    .title.title_medium.text_red Discount coupon
    | If you have a coupon code please enter it here
    .form-group
        input(type="test" id="discount_code")
        input(type="submit" value="Submit")
table.block.block_half
    tbodye.block_bg
        tr
            td.title.title_medium.text_red Order subtotal
            td.title.title_medium.text_strong 11225,99 USD
        tr
            td.title.title_medium.text_red Tax / Shipping (7%)
            td.title.title_medium.text_strong 157,99 USD
        tr
            td.title.title_medium.text_red Order total
            td.title.title_medium.text_strong 26757,99 USD