.aside-group__header
    | Best seller
.aside-group-body
    ul.aside-products-list
        +aside-products-item('Einstein T-Shirt', '799')
        +aside-products-item('Dope T-Shirt', '199')
        +aside-products-item('Poker King T-Shirt', '439')