.aside-block
    .aside-block-header
        .logo__char S
    .aside-block-body
        |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed viverra, urna quisdignissim.
        ul.contacts-list
            li.contacts-item
                span.contacts__dark +(49)
                |  123 456 789
            li.contacts-item
                span.contacts__dark +(49)
                |  789 654 321
        ul.contacts-list
            li.contacts-item
                span.contacts__dark awesome@
                | email.com
            li.contacts-item
                span.contacts__dark sales@
                | email.com
        ul.contacts-list
            li.contacts-item
                span.contacts__dark MONDAY-FRIDAY
                |  : 08:00-18:00
            li.contacts-item
                span.contacts__dark SATURDAYSUNDAY
                |  : Closed
        ul.socials-list
            li.socials-item
                a.socials-link(href="#") F
            li.socials-item
                a.socials-link(href="#") T
            li.socials-item
                a.socials-link(href="#") O
            li.socials-item
                a.socials-link(href="#") In
            li.socials-item
                a.socials-link(href="#") YouTube