ul.thumbs-list
    +thumbs-item('Dope T-Shirt', '799')
    +thumbs-item('Einstein T-Shirt', '469', '369')
    +thumbs-item('Rock Roll T-Shirt', '199')
    +thumbs-item('The Beetles T-Shirt', '209')
.divider
ul.thumbs-list
    +thumbs-item('Cocaine Zero T-Shirt', '799')
    +thumbs-item('Power King T-Shirt', '369')
    +thumbs-item('Captain Awesome T-Shirt', '199')
    +thumbs-item('Happy T-Shirt', '209')