footer.footer
    .footer-top
        .container
            .footer-search.block.block_bg.block.block_bg-up
                input(type="text" placeholder="Looking for another product? Use this search from and hit enter...").input.input_rounded.footer-search__input
                a.btn.footer-search__btn(href="#") Search product
    .footer-main
        .container
            ul.aside-list.aside-list_inline
                +aside-shopmint('dark-bg')
                +aside-best-seller('dark-bg')
                +aside-just-added('dark-bg')
    .footer-bottom
        .container
            .footer-copyright Copyright
                a.footer__link(href="#")  Shopmint 
                |  2013. All right reserved and stuff. Amsterdam 1024 NL / / Netherlands. Proudly powered by 
                a(href="3") Wordpress.