header.header
    .header-top
        .container
            nav.header-top-nav.left
                ul.header-top-nav-list
                    li.header-top-nav-item
                        a.header-top-nav__link(href="#")
                            i.fa.fa-briefcase(aria-hidden="true")
                            | My account
                    li.header-top-nav-item
                        a.header-top-nav__link(href="#")
                            i.fa.fa-briefcase(aria-hidden="true")
                            | My wishlist
                    li.header-top-nav-item
                        a.header-top-nav__link(href="#")
                            i.fa.fa-shopping-basket(aria-hidden="true")
                            | Cart
                    li.header-top-nav-item
                        a.header-top-nav__link(href="#")
                            i.fa.fa-shopping-cart(aria-hidden="true")
                            | Checkout
            .header-greeter.right Welcome, 
                a.header-greeter__link(href="#") visitor.
    .header-main
        .container
            .logo.left
                .logo__char S
                .logo__text
                    | HeroWP
                    span.text_red .com
            .header-contacts.right
                ul.header-contacts-list
                    li.header-contacts-item
                        i.fa.fa-phone(aria-hidden="true")
                        ul.contacts-list.header-contacts-list-inner
                            li.contacts-item
                                span.contacts_dark +(49)
                                |  123 456 789
                            li.contacts-item
                                span.contacts_dark +(49)
                                |  789 654 321
                    li.header-contacts-item
                        i.fa.fa-envelope
                        ul.contacts-list.header-contacts-list-inner
                            li.contacts-item
                                span.contacts_dark awesome@
                                | email.com
                            li.contacts-item
                                span.contacts_dark sales@
                                | email.com
    .header-bottom.header-shadow
        .container
            nav.cat-nav.left
                include ../includes/cat-nav.pug
            .header-bottom-right.right
                .cart.inline
                    .cart-icon
                        i.fa.fa-shopping-basket(aria-hidden="true")
                    .cart-descr Cart 
                        span.text_red 3
                        |  items
                    .cart__price 47,99 $
                .header-search-wrap.inline
                    input(type="text" placeholder="Search...").input.input_iconed.header-search-input