@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/MuseoSlab500.otf');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'RalewaySemibold';
    src: url('../fonts/Raleway-Semibold.ttf');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'RalewayHeavy';
    src: url('../fonts/Raleway-Heavy.ttf');
}

$red: #f06060;
$dark-grey: #747474;
$text-grey-dk: #454545;
$text-grey-md: #565656;
$text-grey-lg: #999999;
$border-grey-lg: #efefef;
$border-grey-md: #e7e7e7;
$border-grey-dk: #e0e0e0;
$border-grey-bl: #393939;
$grey-input: #696969;
$body-bg: #f2f2f2;
$html-font-size: 13px;
$transition: 300ms;
$footer-height: 659px;
@import "./_misc/mixins.scss";
@import "./tags.scss";
@import "./style.scss";
@import "./sections/header.scss";
@import "./sections/footer.scss";
@import "./blocks/aside.scss";
@import "./blocks/products.scss";
@import "./blocks/discount-coupon.scss";
@import "./pages/index.scss";
@import "./pages/blog.scss";
@import "./pages/cart.scss";
@import "./pages/checkout.scss";
@import "./pages/product.scss";
@import "./pages/register.scss";