*,
*:before,
*:after {
    // outline: 1px solid blue;
    box-sizing: border-box;
}

/////////////////////////////////
@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/museoslab-500.otf');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/raleway.light.ttf');
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/raleway.regular.ttf');
}

@font-face {
    font-family: 'RalewaySemibold';
    src: url('../fonts/raleway.semibold.ttf');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/raleway.bold.ttf');
}

@font-face {
    font-family: 'RalewayHeavy';
    src: url('../fonts/raleway.heavy.ttf');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/Myriad_Pro_Black_SemiExt_Bold.ttf');
}

$red: #f06060;
$black: #393939;
$dark-grey: #747474;
$medium-grey: #414141;
$medium-grey-l: #565656;
$border-grey: #e6e6e6;
$light-grey: #999999;
$html-font-size: 13px;
$transition: 300ms;
@import "./_misc/mixins.scss";
@import "./style.scss";
@import "./tags.scss";
@import "./sections/header.scss";
@import "./sections/footer.scss";
@import "./blocks/aside.scss";
@import "./blocks/products.scss";
@import "./pages/index.scss";
@import "./pages/blog.scss";
@import "./pages/cart.scss";