*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: $html-font-size;
    height: 100%;
}

body {
    color: #838383;
    font-family: 'RalewayRegular';
    letter-spacing: rem(-0.65px);
    background: $body-bg;
    height: 100%;
    line-height: 1.65;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding-bottom: $footer-height;
}

.maincontent {
    width: 100%;
    height: 100%;
    padding-bottom: rem(49px);
}

.container {
    margin: auto;
    padding: 0 rem(28px);
    max-width: 1144px;
    @extend %clearfix;
}

.main {
    width: rem(716px);
    float: left;
}

.sidebar {
    float: left;
    width: rem(344px);
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.clearfix {
    @extend %clearfix;
}

.tags {
    &-list {
        @extend %list;
        font-size: rem(16px);
    }
    &-item {
        display: inline-block;
    }
    &__link {
        background: white;
        border-radius: rem(8px);
        border: 1px solid $border-grey-lg;
        letter-spacing: rem(1px);
        color: #6c6c6c;
        display: block;
        font-family: 'RalewayRegular';
        &:hover {
            text-decoration: none;
            background: $red;
            border-color: $red;
            color: white;
        }
    }
}

.logo {
    font-family: 'MuseoSlab500';
    letter-spacing: rem(-1.5px);
    position: relative;
    font-size: rem(40px);
    padding-left: rem(66px);
    line-height: 1;
    &__char {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $red;
        width: rem(60px);
        height: rem(60px);
        text-align: center;
        color: white;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(60px);
        line-height: 1;
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
    }
    &_block-title {
        font-size: rem(32px);
        padding-left: rem(70px);
        line-height: inherit;
        .logo {
            &__char {
                width: rem(55px);
                height: rem(55px);
                font-size: rem(55px);
                left: rem(2px);
            }
        }
    }
}

.btn {
    font-family: 'MuseoSlab500';
    color: white;
    background: $red;
    border-radius: rem(10px);
    display: inline-block;
    border: 1px solid $red;
    font-size: rem(18px);
    cursor: pointer;
    &:hover {
        background: none;
        color: $red;
        text-decoration: none;
    }
    &_sm {
        font-size: rem(14px);
        padding: rem(7px) rem(13px);
    }
    &_lg {
        font-size: rem(32px);
    }
    &-list {
        @extend %list;
        text-align: right;
    }
    &-item {
        display: inline-block;
    }
    &_black {
        background: #3f4044;
        border-color: #3f4044;
        &:hover {
            color: #3f4044;
        }
    }
}

.title {
    color: $text-grey-dk;
    font-family: 'MuseoSlab500';
    font-size: rem(32px);
    &_underline {
        margin-bottom: rem(42px);
        &:after {
            display: block;
            content: '';
            height: rem(8px);
            border-radius: rem(8px);
            background: #d4d4d4;
            margin-top: rem(24px);
        }
    }
    &_md {
        font-size: rem(18px);
        letter-spacing: rem(-0.38px);
    }
}

.text {
    &_red {
        color: $red;
    }
    &_strong {
        font-family: 'RalewayHeavy';
    }
}

.block {
    background: white;
    border: 1px solid $border-grey-md;
    border-radius: rem(10px);
    &_bg {
        box-shadow: 0 rem(9px) 0 rem(-5px) white, 0 rem(9px) 0 rem(-4px) $border-grey-md, 0 rem(18px) 0 rem(-9px) white, 0 rem(18px) 0 rem(-8px) $border-grey-md;
        &-up {
            box-shadow: 0 rem(-9px) 0 rem(-5px) white, 0 rem(-9px) 0 rem(-4px) $border-grey-md, 0 rem(-18px) 0 rem(-9px) white, 0 rem(-18px) 0 rem(-8px) $border-grey-md;
        }
        &-hover {
            transition: $transition;
            &:hover {
                box-shadow: 0 rem(9px) 0 rem(-5px) white, 0 rem(9px) 0 rem(-4px) $border-grey-md, 0 rem(18px) 0 rem(-9px) white, 0 rem(18px) 0 rem(-8px) $border-grey-md, 0 0 rem(25px) 0 rgba(#bbbbbb, .59);
            }
        }
    }
    &_half {
        width: rem(530px);
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__header {
        border-bottom: 1px solid $border-grey-lg;
    }
    &__body {
        padding: rem(27px) rem(30px);
    }
    &__descr {
        letter-spacing: rem(-0.5px);
    }
    &-list {
        @extend %list;
    }
    &-item {
        border-bottom: 1px solid $border-grey-lg;
        &:last-child {
            border: none;
        }
    }
}

.divider {
    border-top: rem(1px) solid #d0d0d0;
    border-bottom: rem(1px) solid white;
    margin: rem(42px) 0 rem(44px);
}

.contacts {
    &-list {
        @extend %list;
        color: $text-grey-lg;
        font-family: 'MuseoSlab500';
        line-height: 1;
        margin-bottom: rem(19px);
    }
    &-item {
        letter-spacing: rem(0.4px);
        margin-bottom: rem(6px);
    }
    &_dark {
        color: #747474;
        font-weight: bold;
    }
}

.socials {
    &__link {
        color: $text-grey-dk;
        &:hover {
            text-decoration: none;
            color: $red;
        }
        &_red {
            color: $red;
            &:hover {
                color: $text-grey-dk;
            }
        }
    }
    &-list {
        @extend %list;
        font-size: rem(25px);
    }
    &-item {
        display: inline-block;
        margin-right: rem(8px);
    }
}

.page-nav {
    background: $red;
    color: white;
    font-size: rem(18px);
    padding: rem(16px) 0 rem(11px);
    font-family: 'MuseoSlab500';
    &__right {
        float: right;
    }
    select {
        background: #fc7373;
        border: none;
        width: rem(206px);
        display: inline-block;
        color: white;
    }
}

.breadcrumbs {
    &-list {
        @extend %list;
        float: left;
        margin-left: rem(8px);
    }
    &-item {
        display: inline-block;
        margin-right: rem(8px);
        &:first-child {
            &:before {
                content: none;
            }
        }
        &:before {
            content: '\f055';
            margin-right: rem(15px);
            font-family: 'FontAwesome';
        }
    }
    &__link {
        color: white;
        border-bottom: rem(4px) solid transparent;
        font-family: 'MuseoSlab500';
        display: inline-block;
        &:hover {
            text-decoration: none;
            border-color: white;
        }
    }
}

.pgn {
    &-btn {
        border-radius: 50%;
        width: rem(57px);
        height: rem(57px);
        display: inline-block;
        background: rgba(#b5b5b5, .3);
        text-align: center;
        padding: rem(2px);
        color: white;
        font-size: rem(50px);
        line-height: 1;
        &:hover {
            background: rgba($red, .3);
        }
    }
    text-align: center;
}