.tags {
    &-list {
        @extend %list;
        font-size: rem(16px);
        margin: rem(5px) 0 rem(3px);
    }
    &-item {
        display: inline-block;
    }
    &__link {
        background: white;
        border-radius: rem(8px);
        border: 1px solid $border-grey-lg;
        letter-spacing: rem(1px);
        color: #6c6c6c;
        display: block;
        font-family: 'RalewayRegular';
        padding: rem(8px) rem(13px);
        &:hover {
            text-decoration: none;
            background: $red;
            border-color: $red;
            color: white;
        }
    }
}

.logo {
    font-family: 'MuseoSlab500';
    letter-spacing: rem(-1.5px);
    position: relative;
    font-size: rem(40px);
    padding-left: rem(66px);
    line-height: 1;
    &__char {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $red;
        width: rem(60px);
        height: rem(60px);
        text-align: center;
        color: white;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(60px);
        line-height: 1;
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
    }
    &_block-title {
        font-size: rem(32px);
        padding-left: rem(70px);
        line-height: inherit;
        .logo {
            &__char {
                width: rem(55px);
                height: rem(55px);
                font-size: rem(55px);
                left: rem(2px);
            }
        }
    }
    @include mediaMax(375px) {
        font-size: rem(30px);
    }
}

.btn {
    font-family: 'MuseoSlab500';
    color: white;
    background: $red;
    border-radius: rem(10px);
    display: inline-block;
    border: 1px solid $red;
    font-size: rem(18px);
    transition: $transition;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: none;
        color: $red;
        text-decoration: none;
    }
    &_xs {
        font-size: rem(14px);
        padding: rem(5px) rem(36px);
    }
    &_sm {
        font-size: rem(14px);
        padding: rem(7.5px) rem(35px);
        border-radius: rem(5px);
    }
    &_sb {
        padding: rem(12px) rem(16px);
    }
    &_md {
        padding: rem(9px) rem(30px);
    }
    &_lg {
        font-size: rem(32px);
        padding: rem(18.5px) rem(37px);
    }
    @include mediaMax(560px) {
        display: block;
        width: 100%;
    }
    &-list {
        @extend %list;
        text-align: right;
        @include mediaMax(620px) {
            text-align: center;
        }
    }
    &-item {
        display: inline-block;
        margin-left: rem(11px);
        @include mediaMax(620px) {
            display: block;
            margin: 0 0 rem(15px);
        }
    }
    &_black {
        background: #3f4044;
        border-color: #3f4044;
        &:hover {
            color: #3f4044;
        }
    }
    &-bottom-group {
        float: right;
        @include mediaMax(560px) {
            float: none;
        }
    }
}

.title {
    color: $text-grey-dk;
    font-family: 'MuseoSlab500';
    font-size: rem(32px);
    &_underline {
        margin-bottom: rem(42px);
        &:after {
            display: block;
            content: '';
            height: rem(8px);
            border-radius: rem(8px);
            background: #d4d4d4;
            margin-top: rem(24px);
        }
    }
    &_md {
        font-size: rem(18px);
        letter-spacing: rem(-0.38px);
        @include mediaMax(650px) {
            font-size: rem(16px);
        }
    }
}

.subtitle {
    font-size: rem(20px);
    font-family: 'MuseoSlab500';
}

.text {
    &_red {
        color: $red;
    }
    &_strong {
        font-family: 'RalewayHeavy';
    }
}

.block {
    background: white;
    border: 1px solid $border-grey-md;
    border-radius: rem(10px);
    margin-bottom: rem(43px);
    &_bg {
        box-shadow: 0 rem(9px) 0 rem(-5px) white, 0 rem(9px) 0 rem(-4px) $border-grey-md, 0 rem(18px) 0 rem(-9px) white, 0 rem(18px) 0 rem(-8px) $border-grey-md;
        &-up {
            box-shadow: 0 rem(-9px) 0 rem(-5px) white, 0 rem(-9px) 0 rem(-4px) $border-grey-md, 0 rem(-18px) 0 rem(-9px) white, 0 rem(-18px) 0 rem(-8px) $border-grey-md;
        }
        &-hover {
            transition: $transition;
            &:hover {
                box-shadow: 0 rem(9px) 0 rem(-5px) white, 0 rem(9px) 0 rem(-4px) $border-grey-md, 0 rem(18px) 0 rem(-9px) white, 0 rem(18px) 0 rem(-8px) $border-grey-md, 0 0 rem(25px) 0 rgba(#bbbbbb, .59);
            }
        }
    }
    &_half {
        width: rem(530px);
        @include mediaMax(1145px) {
            width: 49%;
        }
        @include mediaMax(850px) {
            width: 100%;
        }
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @include mediaMax(850px) {
            display: block;
        }
    }
    &__header {
        border-bottom: 1px solid $border-grey-lg;
        padding: rem(30px);
    }
    &__body {
        padding: rem(30px) rem(30px) rem(21px);
    }
    &__descr {
        letter-spacing: rem(-0.5px);
        margin-bottom: rem(19px);
    }
    &-list {
        @extend %list;
    }
    &-item {
        border-bottom: 1px solid $border-grey-lg;
        padding: rem(19px) rem(30px);
        &:last-child {
            border: none;
        }
    }
}

.divider {
    border-top: rem(1px) solid #d0d0d0;
    border-bottom: rem(1px) solid white;
    margin: rem(17px) 0 rem(43px);
}

.contacts {
    &-list {
        @extend %list;
        color: $text-grey-lg;
        font-family: 'MuseoSlab500';
        line-height: 1;
        margin-bottom: rem(19px);
    }
    &-item {
        letter-spacing: rem(0.4px);
        margin-bottom: rem(6px);
    }
    &_dark {
        color: #747474;
        font-weight: bold;
    }
}

.socials {
    &__link {
        color: $text-grey-dk;
        &:hover {
            text-decoration: none;
            color: $red;
        }
        &_red {
            color: $red;
            &:hover {
                color: $text-grey-dk;
            }
        }
    }
    &-list {
        @extend %list;
        font-size: rem(25px);
    }
    &-item {
        display: inline-block;
        margin-right: rem(8px);
    }
}

.page-nav {
    background: $red;
    color: white;
    font-size: rem(18px);
    margin-bottom: rem(55px);
    font-family: 'MuseoSlab500';
    @include mediaMax(500px) {
        font-size: rem(14px);
    }
    &__right {
        float: right;
        padding: rem(16px) 0 rem(11px);
        @include mediaMax(500px) {
            display: none;
        }
    }
    select {
        background: #fc7373;
        border: none;
        width: rem(206px);
        display: inline-block;
        color: white;
    }
}

.breadcrumbs {
    &-list {
        @extend %list;
        float: left;
    }
    &-item {
        display: inline-block;
        margin-right: rem(8px);
        &:first-child {
            &:before {
                content: none;
            }
        }
        &:before {
            content: '\f055';
            margin-right: rem(15px);
            font-family: 'FontAwesome';
        }
    }
    &__link {
        color: white;
        border-bottom: rem(4px) solid transparent;
        padding: rem(16px) 0 rem(11px);
        font-family: 'MuseoSlab500';
        display: inline-block;
        &:hover {
            text-decoration: none;
            border-color: white;
        }
    }
}

.pgn {
    &-btn {
        border-radius: 50%;
        width: rem(57px);
        height: rem(57px);
        display: inline-block;
        background: rgba(#b5b5b5, .3);
        text-align: center;
        padding: rem(2px);
        color: white;
        font-size: rem(50px);
        line-height: 1;
        margin: rem(2px);
        &:hover {
            background: rgba($red, .3);
        }
    }
    text-align: center;
}

.dropdown {
    position: relative;
    &_active {
        .dropdown {
            &-list {
                display: block;
            }
            &-btn {
                color: black;
                &:after {
                    background: $text-grey-lg;
                }
            }
        }
    }
    &-btn {
        background: white;
        border: rem(1px) solid $border-grey-lg;
        border-radius: rem(2px);
        font-size: rem(12px);
        font-family: 'MuseoSlab500';
        line-height: 1;
        padding: rem(15px) rem(59px) rem(15px) rem(10px);
        text-align: left;
        width: 100%;
        display: block;
        color: $grey-input;
        transition: $transition;
        &:focus {
            color: black;
        }
        position: relative;
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            width: rem(48px);
            content: '\f0d7';
            height: 100%;
            text-align: center;
            padding: rem(15px) 0;
            border-left: 1px solid $border-grey-lg;
            font-family: 'FontAwesome';
            display: block;
        }
    }
    &-list {
        position: absolute;
        display: none;
        background: white;
        color: black;
        font-size: rem(12px);
        @extend %list;
        width: 100%;
        z-index: 1;
        box-shadow: 0 rem(5px) rem(15px) 0 $border-grey-lg;
    }
    &-item {
        padding: rem(13px) rem(21px);
        transition: $transition;
        &:hover {
            background: $red;
            color: white;
        }
    }
}