a {
    font-family: 'RalewaySemibold';
    text-decoration: none;
    transition: $transition;
    color: $red;
    &:hover {
        text-decoration: underline;
    }
}

input {
    padding: rem(18px);
    border: 1px solid #efefef;
}

.input-rounded {
    border-radius: rem(10px);
}