a {
    font-family: 'RalewaySemibold';
    text-decoration: none;
    transition: $transition;
    color: $red;
    &:hover {
        text-decoration: underline;
    }
}

.input {
    transition: $transition;
    display: block;
    width: 100%;
    color: $grey-input;
    padding: rem(10px) rem(12px);
    line-height: 1;
    font-family: 'MuseoSlab500';
    border: rem(1px) solid $border-grey-lg;
    border-radius: rem(2px);
    font-size: rem(12px);
    line-height: 1;
    &:focus {
        color: black;
    }
    &_rounded {
        font-family: 'RalewayRegular';
        border-radius: rem(10px);
        font-size: rem(16px);
        letter-spacing: rem(0.4px);
        padding: rem(16px) rem(20px);
    }
    &_iconed {
        padding-right: rem(28px);
    }
    &_width {
        width: rem(329px);
    }
    &_check {
        display: none;
        &+label {
            &:before {
                width: rem(16px);
                height: rem(16px);
                display: inline-block;
                margin-right: rem(12px);
                text-align: center;
                background: white;
                border: 1px solid $border-grey-md;
                font-family: 'FontAwesome';
                color: white;
                content: '\f00c';
                line-height: 1;
                transition: $transition;
            }
        }
        &:checked+label:before {
            color: black;
        }
    }
    &_msg-form {
        margin-bottom: rem(13px);
        padding: rem(14px) rem(10px);
        &:last-child {
            margin: 0;
        }
    }
}

.textarea {
    color: $grey-input;
    padding: rem(10px);
    font-family: 'MuseoSlab500';
    width: 100%;
    height: 100%;
    display: block;
    resize: none;
    line-height: 1.65;
    color: $grey-input;
    border: rem(1px) solid $border-grey-lg;
    @include mediaMax(650px) {
        min-height: rem(150px);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: white;
    border: 1px solid $border-grey-md;
    border-radius: rem(10px);
    font-family: 'MuseoSlab500';
    color: $text-grey-dk;
    font-size: rem(12px);
    letter-spacing: 0;
}

.label {
    &_strong {
        font-family: 'RalewayBold';
        color: $grey-input;
        display: block;
        font-size: rem(14px);
        letter-spacing: (-0.4px);
        margin-bottom: rem(7px);
    }
    &_sm {
        font-size: rem(12px);
        margin: 0;
    }
}

.table {
    &__img {
        max-width: rem(36px);
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(13px);
    }
    &__btn {
        color: #ababab;
        &:hover {
            text-decoration: none;
        }
    }
    &__input-number {
        width: rem(95px);
        text-align: center;
        display: inline-block;
    }
}

thead {
    font-family: 'RalewayHeavy';
    text-transform: uppercase;
    font-size: rem(16px);
    letter-spacing: rem(-0.45px);
}

th,
td {
    border: 1px solid $border-grey-lg;
}

th {
    padding: rem(17px) rem(25px) rem(15px);
}

td {
    padding: rem(12px) rem(25px) rem(8px);
}

.form {
    &_two-groups {
        display: flex;
        justify-content: space-between;
        @include mediaMax(650px) {
            display: block;
        }
    }
    &-group {
        &_sm {
            width: rem(197px);
            @include mediaMax(1100px) {
                width: 29%;
            }
            @include mediaMax(650px) {
                width: 100%;
            }
        }
        &_lg {
            width: rem(452px);
            @include mediaMax(1100px) {
                width: 69%;
            }
            @include mediaMax(650px) {
                width: 100%;
            }
        }
        margin-bottom: rem(30px);
    }
    &__footer {
        text-align: right;
    }
    &-third {
        width: rem(329px);
        @include mediaMax(780px) {
            width: 100%;
        }
    }
    &-two-thirds {
        width: rem(683px);
        @include mediaMax(780px) {
            width: 100%;
        }
    }
    &__title {
        padding-bottom: rem(21px);
        margin-bottom: rem(40px);
        border-bottom: rem(1px) solid $border-grey-lg;
    }
}