a {
    font-family: 'RalewaySemibold';
    text-decoration: none;
    transition: $transition;
    color: $red;
    &:hover {
        text-decoration: underline;
    }
}

input {
    transition: $transition;
    border: 1px solid #efefef;
    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="number"] {
        display: block;
        width: 100%;
        color: #696969; // margin-bottom: rem(13px);
        &:focus {
            color: black;
        }
    }
    &[type="radio"],
    &[type="checkbox"] {
        display: none;
        &+label {
            &:before {
                width: rem(16px);
                height: rem(16px);
                display: inline-block;
                text-align: center;
                padding: rem(1px) rem(3px);
                background: white;
                border: 1px solid #e6e6e6;
                font-family: 'FontAwesome';
                color: white;
                margin: rem(-10px) rem(10px) 0 0;
                font-size: rem(8px);
                content: '\f00c';
            }
        }
        &:checked+label:before {
            color: black;
        }
    }
}

input,
textarea,
select {
    line-height: 1;
    padding: rem(13px);
    font-family: 'MuseoSlab500';
    font-size: rem(12px);
    border: rem(1px) solid #eeeeee;
    border-radius: rem(2px);
    margin-bottom: rem(13px);
}

.input {
    &_rounded {
        font-size: rem(16px);
        padding: rem(16px);
        margin: 0;
        font-family: 'RalewayRegular';
        border-radius: rem(10px);
        color: #6c6c6c;
    }
}

textarea {
    width: 100%;
    height: 100%;
    display: block;
    resize: none;
    line-height: 1.6;
}

select {
    appearance: none;
    width: 100%;
    background: none;
    color: #696969;
    &:focus {
        color: black;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: white;
    border: 1px solid #e7e7e7;
    border-radius: rem(10px);
}

.label {
    &_strong {
        font-family: 'RalewayBold';
        font-size: rem(14px);
        color: #696969;
        display: block;
        margin-bottom: rem(10px);
    }
}

thead {
    font-family: 'RalewayHeavy';
    font-size: rem(16px);
    text-transform: uppercase;
}

th,
td {
    border: 1px solid #eeeeee;
    padding: rem(20px);
}

.input-rounded {
    border-radius: rem(10px);
}

.form {
    &_two-groups {
        @extend .flex;
        textarea {
            height: 100%;
        }
        margin-bottom: rem(28px);
    }
    &-group {
        &_sm {
            width: rem(197px);
        }
        &_lg {
            width: rem(452px);
        }
    }
    &__footer {
        padding-top: rem(18px);
        text-align: right;
    }
    &-third {
        width: rem(329px);
    }
    &-two-thirds {
        width: rem(683px);
    }
}