block variables
include ../mixins/aside-thumbs-item.pug
include ../mixins/thumbs-item.pug
include ../mixins/useful-info-item.pug
include ../mixins/page-nav.pug
include ../mixins/review-item.pug
include ../mixins/blog-list-item.pug
include ../mixins/blog-comments-item.pug
include ../mixins/aside-shopmint.pug
include ../mixins/aside-just-added.pug
include ../mixins/aside-best-seller.pug
include ../mixins/dropdown.pug

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet' href='/css/libs.min.css')
        link(rel='stylesheet' href='/css/main.css')
        script(src='/js/libs.min.js')
        script(src='/js/main.js')
    body
        block page