block variables
include ../mixins/aside-products-item.pug
include ../mixins/products-item.pug
include ../mixins/useful-info-item.pug
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet' href='/css/libs.min.css')
        link(rel='stylesheet' href='/css/main.css')
        script(src='/js/libs.min.js')
        script(src='/js/main.js')
    body
        block page