.blog {
    &-list {
        @extend %list;
    }
    &-item {
        padding: rem(20px) rem(32px);
        margin-bottom: rem(50px);
        border-radius: 0 0 rem(10px) rem(10px);
    }
    &__title {
        color: #454545;
        font-size: rem(32px);
        font-family: 'MuseoSlab500';
        margin: 0 0 rem(5px);
        letter-spacing: rem(-1.55px);
    }
    &__pic {
        height: rem(365px);
    }
    &__img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    &-meta {
        text-transform: uppercase;
        padding: 0 rem(3px);
        margin-bottom: rem(17px);
        font-family: 'RalewayRegular';
        &-list {
            @extend %list;
        }
        &-item {
            display: inline-block;
            &:before {
                content: '//';
                letter-spacing: rem(2.6px);
                margin: 0 rem(13px);
            }
            &:first-child {
                &:before {
                    content: none;
                }
            }
        }
        &__link {
            font-family: 'RalewayBold';
        }
    }
    &__content {
        border-top: rem(1px) solid #efefef;
        padding: rem(8px) 0 0;
    }
    &-comments {
        &-list {
            @extend %list;
        }
        &-item {
            padding: rem(30px) 0;
            display: flex;
        }
        &-user {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
        }
        &__avatar {
            width: rem(178px);
            flex-shrink: 0;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }
        &__name {
            font-size: rem(12px);
            font-family: 'RalewayBold';
            text-transform: uppercase;
            text-align: center;
        }
        &-meta {
            @extend %list;
            margin-bottom: rem(8px);
            &-item {
                display: inline-block;
                font-family: 'RalewayBold';
                font-size: rem(12px);
                letter-spacing: rem(-0.13px);
                margin-right: rem(28px);
            }
            &__link {
                color: #2a2a2a;
                .fa {
                    color: $red;
                    margin-left: rem(12px);
                }
                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
}