.blog {
    &-list {
        @extend %list;
        padding: rem(10px) 0 rem(3px);
    }
    &-item {
        border-radius: 0 0 rem(10px) rem(10px);
        margin-bottom: rem(41px);
    }
    &__title {
        color: $text-grey-dk;
        font-size: rem(32px);
        font-family: 'MuseoSlab500';
        letter-spacing: rem(-1.55px);
        margin-bottom: rem(4px);
    }
    &__pic {
        min-height: rem(357px);
        overflow: hidden;
        border-radius: rem(10px);
    }
    &__img {
        max-width: 100%;
        display: block;
        margin: auto;
        max-height: 100%;
    }
    &-meta {
        &-list {
            @extend %list;
            letter-spacing: rem(0.05px);
            text-transform: uppercase;
            font-family: 'RalewayRegular';
            margin-bottom: rem(14px);
        }
        &-item {
            display: inline-block;
            margin-right: rem(8px);
            &:before {
                content: '//';
                letter-spacing: rem(2.6px);
                margin-right: rem(9px);
            }
            &:first-child {
                &:before {
                    content: none;
                }
            }
        }
        &__link {
            font-family: 'RalewayBold';
        }
    }
    &__content {
        border-top: rem(1px) solid $border-grey-lg;
        padding: rem(10px) 0 0;
    }
    &-comments {
        &-list {
            @extend %list;
            .blog-comments-list {
                margin-left: rem(30px);
            }
        }
        &-item {
            display: flex;
            padding-bottom: rem(33px);
            margin-bottom: rem(25px);
        }
        &-user {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            padding: 0 rem(10px);
            border-right: 1px solid $border-grey-lg;
            flex-grow: 0;
            flex-shrink: 0;
            width: rem(180px);
            margin-right: rem(24px);
        }
        &__avatar {
            flex-shrink: 0;
        }
        &__img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }
        &__name {
            font-size: rem(12px);
            font-family: 'RalewayBold';
            text-transform: uppercase;
            text-align: center;
        }
        &-meta {
            @extend %list;
            margin-bottom: rem(7px);
            &-item {
                display: inline-block;
                font-family: 'RalewayBold';
                font-size: rem(12px);
                letter-spacing: rem(-0.13px);
                margin-right: rem(26px);
            }
            &__link {
                color: #2a2a2a;
                .fa {
                    color: $red;
                    margin-left: rem(12px);
                }
                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
}