.checkout {
    &-dropdown {
        .dropdown {
            &-btn {
                padding: rem(11px) rem(50px) rem(11px) rem(10px);
                &:after {
                    padding: rem(11px);
                    width: rem(40px);
                }
            }
        }
    }
    &-left {
        float: left;
        @include mediaMax(650px) {
            float: none;
            display: block;
            width: 100%;
            margin-bottom: rem(10px);
        }
    }
    &-right {
        float: right;
        @include mediaMax(650px) {
            float: none;
            display: block;
            width: 100%;
        }
    }
    &-table {
        th {
            &:nth-child(1) {
                text-align: left;
            }
        }
        td {
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(3) {
                font-size: rem(14px);
                font-family: 'RalewayBold';
            }
            &:nth-child(4) {
                font-size: rem(14px);
            }
        }
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}