.useful-info {
    &-list {
        @extend %list;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin: 0 rem(-14px);
        @include mediaMax(830px) {
            display: block;
        }
    }
    &-item {
        margin: 0 rem(14px);
        @include mediaMax(830px) {
            margin-bottom: rem(30px);
        }
    }
    &__icon {
        width: rem(85px);
        position: relative;
        margin-right: rem(20px);
        flex-shrink: 0;
        flex-grow: 0;
        &:after {
            position: absolute;
            width: rem(3px);
            height: 100%;
            content: '';
            display: block;
            border: 1px solid $border-grey-lg;
            top: 0;
            right: 0;
            margin-left: rem(21px);
        }
        @include mediaMax(1145px) {
            height: rem(128px);
            &:after {
                display: none;
                content: none;
            }
        }
    }
    &-block {
        display: flex;
        justify-content: space-between;
        @include mediaMax(1145px) {
            display: block;
        }
    }
    &__body {
        letter-spacing: rem(-0.55px);
    }
    &__title {
        font-family: 'MuseoSlab500';
        color: $text-grey-dk;
        letter-spacing: rem(-1px);
        line-height: 1;
        margin-bottom: rem(10px);
    }
    &__link {
        display: block;
        font-family: 'RalewayBold';
    }
}