.product {
    &__pic {
        width: rem(370px);
        height: rem(324px);
        float: left;
        margin: 0 rem(32px) rem(30px) 0;
        border-right: 1px solid #e3e3e3;
    }
    &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
    &-select {
        width: rem(255px);
        float: right;
    }
    &__label {
        font-family: 'RalewayBold';
        color: #2e2e2e;
        margin-bottom: rem(12px);
        display: block;
        font-size: rem(16px);
    }
    &__input {
        margin-bottom: rem(26px);
    }
    &-title {
        border-top: rem(1px) solid #e3e3e3;
        border-bottom: rem(1px) solid #e3e3e3;
        padding: rem(30px) 0;
    }
    &-category {
        &-list {
            text-transform: uppercase;
            @extend %list;
            font-size: rem(13px);
            font-family: 'RalewayLight';
        }
        &-item {
            display: inline-block;
        }
    }
    &-cart {
        display: flex;
        padding: rem(32px) 0;
    }
    &__price {
        font-size: rem(50px);
        font-family: 'MuseoSlab500';
        vertical-align: middle;
        padding-right: rem(20px);
        border-right: rem(1px) solid #e3e3e3;
        margin-right: rem(25px);
        line-height: 1;
        &_old {
            color: #b5b5b5;
            text-decoration: line-through;
        }
    }
    &__currency {
        font-size: rem(14px);
        vertical-align: middle;
        color: #999999;
        margin-left: rem(5px);
    }
    &-tabs {
        @extend %list;
        &-nav {
            &-item {
                display: inline-block;
                &_active {
                    .product-tabs-nav__link {
                        background: $red;
                        color: white;
                        &:hover {
                            background: none;
                            border-color: $red;
                            color: $red;
                        }
                    }
                }
            }
            &-list {
                @extend %list;
                font-size: rem(18px);
                font-family: 'MuseoSlab500';
                margin-bottom: rem(25px);
            }
            &__link {
                color: #4c4c4c;
                padding: rem(15px);
                border-radius: rem(15px);
                display: inline-block;
                border: rem(1px) solid transparent;
                &:hover {
                    background: $red;
                    color: white;
                    text-decoration: none;
                }
            }
        }
        &-item {
            display: none;
            &_active {
                display: block;
            }
        }
    }
    &-review {
        &-list {
            @extend %list;
            counter-reset: review-counter;
        }
        &-header {
            width: 100%;
        }
        &-item {
            border-top: rem(1px) solid #e3e3e3;
            padding: rem(20px) 0 rem(32px) 0;
        }
        &-wrap {
            position: relative;
            padding-right: rem(86px);
            &:after {
                content: counter(review-counter, decimal-leading-zero);
                counter-increment: review-counter;
                border-left: rem(1px) solid #e3e3e3;
                font-size: rem(50px);
                font-family: 'MuseoSlab500';
                color: #e2e2e2;
                position: absolute;
                width: rem(76px);
                text-align: center;
                right: 0;
                top: 0;
                height: 100%;
            }
        }
        &__link {
            font-family: 'MuseoSlab500';
        }
        &-small {
            font-size: rem(12px);
            color: #696969;
            margin: 0 rem(10px);
        }
    }
}