.register {
    &-block-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__link-grey {
        color: inherit;
        font-family: inherit;
        color: #838383;
        margin-left: rem(28px);
    }
    &-form-group {
        margin-bottom: rem(16px);
    }
}